

<h1><%=@song.title%></h1>

<ul>
  <li><%= @song.released%></li>
  <li><%= @song.release_year%> </li>
  <li><%= @song.artist_name%></li>
  <li><%= @song.genre%></li>
</ul>

<%=link_to "Delete", @song, method: :delete, data: { confirm: "Really?"} %>
